<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">

    <div class="row">
	<div class="btn-group">
		<button onclick="location.href='http://127.0.0.1:4555/food'">Food</button>
		<button onclick="location.href='http://127.0.0.1:4555/people'">People</button>
		<button onclick="location.href='http://127.0.0.1:4555/forest'">Forest</button>
		<button onclick="location.href='http://127.0.0.1:4555/city'">City</button>
            
	</div>
</div>
</body>

		





		