<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
.btn-group button {
  background-color: #3366cc; 
  border: 1px solid green;
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
}


.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}


.btn-group button:hover {
  background-color: #3380cc;
}
</style>
<body>
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Upload Completed</h1>
        </div>
        <div class="btn-group">
		<button onclick="location.href='http://127.0.0.1:4555/2'">Folder 2</button>     
	</div>
        <hr>
</body>
</html>