<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<style>
.btn-group button {
  background-color: #3366cc; 
  border: 1px solid green; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
}


.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}


.btn-group button:hover {
  background-color: #3380cc;
}
</style>
<body>
	<div class="container">

		<div class="row">

        		<div class="jumbotron text-center">
            			<h1 class="page-header">Home</h1>
				<p>Upload the images you want to get sorted.</p>
        		</div>
		<hr>
		<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

    			<strong>Files: </strong><br>
				<input id="file-picker" type="file" name="file" accept="image/*" multiple>
    			<div id="msg"></div>
    			<input type="submit" value="Upload!" id="upload-button">
		</form>
		<hr>
		<div class="btn-group" style="width:100%">
			<button style="width:25%" onclick="location.href='http://127.0.0.1:4555/gallery'">Gallery</button>
			<button style="width:25%" onclick="location.href='http://127.0.0.1:4555/code'">Our Code</button>  
			<button style="width:25%" onclick="location.href='http://127.0.0.1:4555/models'">Models</button> 
			<button style="width:25%" onclick="location.href='http://127.0.0.1:4555/modelcode2'">Your Code</button> 
		</div>
		<hr>
		<p><b>Gallery:</b> Photos you want to get sorted</p>
		<p><b>Our Code:</b> Pre-trained Model for sorting</p>
		<p><b>Models:</b> All available Models created by users</p>
		<p><b>Your Code:</b> User's Trained Models for sorting</p>


</body>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
       
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>
</html>